.detailInfo {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.parameter {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-bottom: 1.2em;
    color: rgb(250, 250, 250);
}

